<a href="https://colab.research.google.com/github/GTD2101-ACD-AB-EJ23/01-Python-basico-20170810/blob/main/01.%20MissingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manejando Datos Extraviados

En este JNB se revisará el tema de manejo de datos extraviados.

In [1]:
!wget --no-check-certificate \
    https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv \
    -O titanic.csv

--2023-03-21 21:21:07--  https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.008s

2023-03-21 21:21:07 (7.55 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [3]:
titanic_data = pd.read_csv("titanic.csv")

In [10]:
valores_nulos = titanic_data.isnull().sum()
valores_nulos

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
titanic_data.shape

(891, 12)

In [9]:
total_celdas= np.product(titanic_data.shape)
print(total_celdas)

10692

In [12]:
total_nulos = valores_nulos.sum()
print(total_nulos)

866

In [15]:
print(f"El porcentaje de celdas vacias es: {total_nulos/total_celdas*100}")

El porcentaje de celdas vacias es: 8.099513655069211

In [16]:
titanic_data_no_nulos = titanic_data.dropna()

In [20]:
print (titanic_data_no_nulos.shape)
print(len(titanic_data_no_nulos))

(183, 12)
183

In [19]:
titanic_data_no_nulos.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [22]:
titanic_data_col_nonulas = titanic_data.dropna(axis = 1)
titanic_data_col_nonulas.head(1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.25

In [25]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         2
dtype: int64

In [24]:
titanic_data["Cabin"].fillna("unknown", inplace = True)